# Test metrics on Toy Example

In [15]:
# FUNCTIONS / CLASSES :
import sys
%load_ext autoreload
%autoreload 2
sys.path.append("./code")
from metrics import METEOR, BLEU
from data_processing import WMT22

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
reference = "Je me présente je m'appelle Henri"
good_candidate = "Je me présente je me prénomme Henri"
avg_candidate = "Bonjour mon nom est Henri"
bad_candidate = "J'aime les pizzas"

## 1 - METEOR

In [17]:
print(METEOR(good_candidate, reference))
print(METEOR(avg_candidate, reference))
print(METEOR(bad_candidate, reference))

0.5391304347826087
0.09803921568627452
0.0

## 2 - BLEU

In [20]:
print(BLEU(good_candidate, reference))
print(BLEU(avg_candidate, reference))
print(BLEU(bad_candidate, reference))

0.7054014205932617
0.1666666567325592
0.0

## Test on WMT Data

In [21]:
df = WMT22.read_data()

In [25]:
sample = df.sample(1000)
sample.sample(2)

,seg_id,sys,hyp,domain,doc,source,ref,score,sltl
16552,1806,Lan-Bridge,Ballistic missile submarines are often referre...,social,social_social_zh_linkedin.com_134531737:Chines...,弹道导弹潜艇通常被称为“雷鸣潜艇”（Boomer submarine）。,Ballistic missile submarines are often called ...,0.0,zhen
33052,1612,QUARTZ_TuneReranking,[Service] Very warm and attentive.,ecommerce,ecommerce_ecommerce_zh_meituan.com_166272631:C...,【服务】很热情，也很细心。,[Service] Very enthusiastic and attentive to d...,0.0,zhen

In [27]:
df["BLEU"] = df.apply(lambda x : BLEU(
    reference = x.ref,
    candidate = x.hyp,), axis = 1)

In [29]:
df["METEOR"] = df.apply(lambda x : METEOR(
    reference = x.ref,
    candidate = x.hyp,), axis = 1)

In [30]:
df[["score", "BLEU", "METEOR"]].corr(method = "spearman")

           score      BLEU    METEOR
score   1.000000  0.125824  0.145203
BLEU    0.125824  1.000000  0.876286
METEOR  0.145203  0.876286  1.000000

In [31]:
df[["score", "BLEU", "METEOR"]].corr(method = "kendall")

           score      BLEU    METEOR
score   1.000000  0.097002  0.111814
BLEU    0.097002  1.000000  0.710727
METEOR  0.111814  0.710727  1.000000